<div class="footer-distributed">
  <div class="footer-left">

    <div class="logo">
      <img src="./../../../assets/images/Analytics.png" alt="">
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@company.com</a></p>
    </div>

    <p class="footer-company-name">Company Name &copy; 2023</p>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#"><fa-icon id="yt" [icon]="['fab', 'youtube']"></fa-icon></a>
      <a href="#"><fa-icon id="twitter" [icon]="['fab', 'twitter']"></fa-icon></a>
      <a href="#"><fa-icon id="linkedin" [icon]="['fab', 'linkedin']"></fa-icon></a>
      <a href="#"><fa-icon id="gh" [icon]="['fab', 'github']"></fa-icon>
      </a>

    </div>
  </div>
</div>
