<div class="footer-distributed">
  <div class="footer-left">

    <h3>Company<span>logo</span></h3>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@company.com</a></p>
    </div>

    <p class="footer-company-name">Company Name © 2015</p>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <fa-icon id="yt" [icon]="['fab', 'youtube']"></fa-icon>
      <fa-icon id="twitter" [icon]="['fab', 'twitter']"></fa-icon>
      <fa-icon id="linkedin" [icon]="['fab', 'linkedin']"></fa-icon>
      <fa-icon id="gh" [icon]="['fab', 'github']"></fa-icon>

    </div>
  </div>
</div>
