<div class="container-header">
  <div id="logo">
      <img src="./assets/images/user.png" alt="">
  </div>
  <div class="menu">
      <ul>
          <li>
              <a routerLink="homepage" routerLinkActive="active">Homepage</a>
          </li>
          <li>
              <a routerLink="errors" routerLinkActive="active">Errors</a>
          </li>
          <ng-container *ngIf="(authService.currentUser$ | async) as user">
            <li>
              <img src="{{user.photoUrl || './assets/images/user.png'}}" alt="user photo">
                <a routerLink="myprofile" routerLinkActive="active">My Profile {{user.username}}</a>
            </li>
            <li>
                <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
            </li>
          </ng-container>
          <li *ngIf="authService.currentUser$ | async; else loginBlock">
              <a id="logout" (click)="logout()">Logout</a>
          </li>
          <ng-template #loginBlock>
            <li>
              <a routerLink="login" routerLinkActive="active">Login</a>
            </li>
          </ng-template>
          <li *ngIf="!(authService.currentUser$ | async)">
            <a routerLink="register" routerLinkActive="active">Sign Up</a>
          </li>
      </ul>
  </div>
</div>
