.buttons>button {
  color: #fff;
  margin: 1rem;
}

.buttons>button.blue {
  background-color: rgb(25, 122, 219);
}

.buttons>button.red {
  background-color: red;
}

.row>.col>input {
  padding: 0.5rem 1rem;
  background-color: #66f2c5;
  color: #fff;
}

.buttons fa-icon{
  /* color: #fff; */
	display: inline-block;
	cursor: pointer;
	/* background-color:  #33383b; */

	font-size: 20px;
}

#main {
  color: #fff;
}
#trash {
  color: #fff;
}
