<div *ngIf="member">
  <div *ngFor="let photo of member.photos">
    <img src="{{photo.url}}" alt="photo of user">
    <div class="buttons">
      <button class="blue"
      [disabled]="photo.isMain"
      (click)="setMainPhoto(photo)"
      [ngClass]="photo.isMain ? 'button-disabled' : ''"
      ><fa-icon id="main" [icon]="['fas', 'arrow-circle-up']"></fa-icon></button>
      <button class="red"
      [disabled]="photo.isMain"
      (click)="deletePhoto(photo.id)"
      [ngClass]="photo.isMain ? 'button-disabled' : ''"
      ><fa-icon id="trash" [icon]="['fas', 'trash']"></fa-icon></button>
    </div>
  </div>
</div>
<div class="row">

  <div class="col">

      <h3>Add Photos</h3>

      Multiple
      <input class="custom-file-input" type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

      Single
      <input type="file" ng2FileSelect [uploader]="uploader" />
  </div>

  <div class="col" *ngIf="uploader?.queue?.length">

    <div class="buttons">
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader?.uploadAll()" [disabled]="!uploader?.getNotUploadedItems()?.length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s"
                (click)="uploader?.cancelAll()" [disabled]="!uploader?.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s"
                (click)="uploader?.clearQueue()" [disabled]="!uploader?.queue?.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
    </div>
  </div>
</div>
