<div class="main-container">
    <!-- Sezione con jumbotron -->
    <section class="jumbotron">

    </section>
    <!-- Sezione per spiegare a cosa serve la piattaforma -->
    <section class="whatUCanDo">
        <div class="section-left">
            <p>Tramite questa web-app puoi gestire le tue spese, capire dove e quando hai speso una determinata cifra</p>
            <p>Tramite questa web-app puoi gestire le tue spese, capire dove e quando hai speso una determinata cifra</p>
        </div>
        <div class="section-right">
            <img id="doing" src="../../../assets/images/doing.jpg" alt="image-dashboard">
        </div>
    </section>
    <!-- Sezione in cui si spiegano alcune delle funzioni presenti -->
    <section class="howAppWorks">
        <h4>Ecco alcune features che troverai interessanti:</h4>
        <ul>
            <li>Aggiungere una spesa legata ad un task cosi' da avere la possibilita di vedere le spese collegate tra loro</li>
            <li>Inserire le eventuali entrate, cosi da bilanciare il risparmio di ogni mese</li>
            <li>Aggiungere una spesa legata ad un task cosi' da avere la possibilita di vedere le spese collegate tra loro</li>
            <li>Inserire le eventuali entrate, cosi da bilanciare il risparmio di ogni mese</li>
        </ul>
    </section>
    <!-- Possibilita di aggiungere una nuova funzione qua -->
</div>

<!-- <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table> -->
