<!-- HEADER - NAVBAR -->
<header id="header">
    <div class="container-header">
        <div id="logo">
            <img src="" alt="">
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a routerLink="homepage" routerLinkActive="active">Homepage</a>
                </li>
                <li>
                    <a>About</a>
                </li>
                <li>
                    <a>Dashboard</a>
                </li>
                <li *ngIf="authService.currentUser$ | async; else logoutBlock">
                    <a (click)="logout()">Logout</a>
                </li>
                <ng-template #logoutBlock>
                  <li>
                    <a routerLink="login" routerLinkActive="active">Login</a>
                  </li>
                </ng-template>
            </ul>
        </div>
    </div>
</header>

<!-- MAIN - ROUTER OUTLET -->
<main>
    <router-outlet></router-outlet>
</main>

<!-- FOOTER -->
<footer></footer>


