<div class="register-container">
  <div class="register-box">
    <h2>Sign Up</h2>
    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="user-box">
        <input type="email" name="" required="" formControlName="email">
        <label>E-mail</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" formControlName="username">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="" formControlName="password">
        <label>Password</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="" formControlName="confirmPassword">
        <label>Confirm Password</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
</div>
